* {
  box-sizing: border-box;
}

/**** Base Styles ****/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  color: #79787F;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border-style: none;
  width: 100%;
  padding: 8px 3px;
}

input[placeholder] {
  font-size: .8em;
}

/**** Top Menu Bar - Mobile ****/

.top-menu {
  display: flex;
  border-bottom: 1px solid #eef2f5;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-bar {
  flex-grow: 6;
  border-left: 1px solid #eef2f5;
}

.profile,
.calendar,
.grid {
  display: none;
}

.menu-icon {
  height: 20px;
  width: 20px;
}

/**** Job Overview Section - Mobile ****/

.job-overview {
  padding: 15px 10px;
  border-bottom: 3px solid #eef2f5;
}

.location-wrap {
  display: flex;
  align-items: center;
  margin: 5px 0 0 0;
}

.job-title {
  padding: 10px 0;
  color: #696a6c;
}

.location-icon {
  height: 15px;
  width: 15px;
}

.job-location {
  padding: 0 5px;
  color: #a9aaae;
  font-size: .85em;
}

.preview {
  color: #6cc2f5;
  font-size: .85em;
}

.icon-wrap {
  display: flex;
  margin: 25px 0 0 0;
}

.open-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  border: 2px solid #dfe0e2;
  border-radius: 20px;
}

.icon {
  margin: 0 10px 0 0;
  padding: 5px;
  border: 2px solid #dfe0e2;
  border-radius: 50%;
}

.open-icon p {
  margin: 0 0 0 5px;
  color: #9da5b2;
  font-size: .75em;
  text-transform: uppercase;
}

.green-dot {
  height: 10px;
  width: 10px;
}

.button-icon {
  height: 15px;
  width: 15px;
}

nav {
  display: none;
}
