* {
  box-sizing: border-box;
}

/**** Base Styles ****/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  color: #79787F;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border-style: none;
  width: 100%;
  padding: 8px 3px;
}

input[placeholder] {
  font-size: .75em;
}

/**** Top Menu Bar - Mobile ****/

.top-menu {
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-bar {
  flex-grow: 6;
  border-left: 1px solid lightgrey;
}

.profile,
.calendar,
.grid {
  display: none;
}

.menu-icon {
  height: 20px;
  width: 20px;
}
